header
  h1
    a(href=`${path}index.pug`).home-link
      img(src=`${path}image/home-icon.png`, alt="クリニックロゴ")
  ul.child-link
    li
      a(href=`${path}about/index.pug`) 当院について
    li
      a(href=`${path}treatment/index.pug`) 治療法
    li
      a(href=`${path}example/index.pug`) 施術例
