<!DOCTYPE html>
block vars
- const title = meta.title || "タチアナ治療院"
- const desc = meta.desc || ""
- const path = meta.path || "./"
- const url = ""
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title= title
  meta(name="description", content=desc)
  meta(property="og:title", content=title)
  meta(property="og:type", content="website")
  meta(property="og:url", content=url)
  meta(property="og:image", content="")
  meta(property="og:site_name", content=title)
  meta(property="og:description", content=desc)
  meta(name="format-detection" content="telephone=no")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap" rel="stylesheet")
  script(src=`${path}js/index.js`)
body
  include /_partial/_header
  block contents
  include /_partial/_footer